* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    color: #111; 
    background-color: #fff; 
}
input, select, textarea { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 15px; 
    color: #000; 
    border: 1px solic #c0c0c0; 
    padding: 3px; 
}
h1, h2, h3 { font-weight: normal; }
p { margin-bottom: 1em; }

.header { 
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    height: 3em;
    background-color: #468;
    padding: 1em;
}
.header h1 { color: #fff; font-weight: 100;}

.nav { 
    position: absolute;
    left: 0;
    top: 5em;
    bottom: 0;
    width: 18em;
    background-color: #eee;
}

.nav ul { list-style-type: none; }
.nav ul li a { text-decoration: none; color: #111; padding: .5em; display: block; cursor: pointer; }
.nav ul li a:hover { background-color: #ccc; }

.content { 
    position: absolute;
    left: 18em;
    right: 0;
    top: 5em;
    bottom: 0;
    padding: 1em;
}